* {
    margin: 0;
}
.tab4_pic_block {
    width: 1200px;
    height: 570px;
    position: absolute;
    top: 100px;
    left: 35px;
}
.tab4_pic_block_item {
    width: 25%;
    height: 100%;
    padding: 10px;
    float: left;
}
.tab4_pic {
    width: 100%;
    height: 100%;
    border-radius:5px;
    box-shadow:rgba(0,0,0,0.15) 0 0 8px;
    border: 1px solid #ddd;
    background-color: white;
    padding: 5px;
}

